

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" >INVOICE</a>
  </nav>
  
  <div class="container-fluid pt-2" style="margin-bottom: 250px">
  
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Invoice Details</h4>
            <form [formGroup]="invoiceFormData" >
            <div class="row">
  
              <div class="col-md-8">
                <div class="form-group">
                  <label for="name">Issued Person Name</label>
                  <input type="text" class="form-control" formControlName="personName" id="name"  required>
  
                 
  
  
                </div>
                <div class="form-group">
                  <label for="date">Invoice Date</label>
                  <input type="date" class="form-control" formControlName="invoiceDate" id="date"    required>
  
                 
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="invoiceNo">Invoice No</label>
                  <input type="text" class="form-control" formControlName="invoiceNo" id="invoiceNo"  required>
  
                 
                </div>
  
                <div class="form-group">
                  <label for="TAmount">Total Amount</label>
  
  
                  <input  type="text" class="form-control" formControlName="totalAmount" id="TAmount"  >
  
                </div>
              </div>
  
            </div>
            <div class="card border-secondary mt-2 mb-5">
              <div class="card-body">
                <h4 class="card-title d-flex justify-content-between">Items Details </h4>
      
      
              
                  <div formArrayName="addInvoice">
                <div class="row" *ngFor="let row of  f['controls']; let i = index"  [formGroupName]="i">
                  
                  <div class="col-md-3">
                    <label>Item No</label>
                    <input type="text" class="form-control" name="itemNo" formControlName="itemNo"   >
                  <!--<p *ngIf="f.controls[i].get('itemNo').errors['required']">Item No required</p>--> 
                  
                  </div>
                  <div class="col-md-3">
                    <label>Unit Price</label>
                    <input type="number" class="form-control" formControlName="unitPrice"  >
      
                   
                  </div>
                  <div class="col-md-3">
                    <label>Quantity</label>
                    <input type="number" class="form-control" formControlName="quantity"    >
      
                    
                  </div>
                  <div class="col">
                    <label>Total</label><br>
                    <input type="number" class="form-control" formControlName="total" >
      
                  </div>
                  <div class="col-md-2">
                    <button type="button" (click)="addForm()" class="btn btn-primary" *ngIf="i===0">+</button>
                    <button (click)="removeForm(i)" mat-raised-button type="button" class="btn btn-danger" *ngIf="i!=0">-</button>
                  </div>
                  
      
      
                 </div>
      
                </div>
      
      
                
      
      
                </div>
      
              </div>

            </form>
          </div>
        </div>
       
  
  
  <!--  [hidden]="!invoiceinformation.valid" [disabled]="!invoiceBody.valid"-->
  
        <button type="button" (click)="onSubmit(invoiceFormData)" class="btn btn-primary btn-lg"   >Add To Database</button>
  
  
  
  </div>